@import "../base/variables";
.navbar{
   
    .header-color{
        background-color: #E7AB30;
     
        a{
            .img-logo{
                width: 130px;
                margin: 5px;
                border-radius: 35px;
                box-shadow: $shadow;
                transition: all 0.03s ease;
                
            }

            .img-logo:active{
                outline: 1.5px solid rgba(42, 44, 52,0.09);
                transform: scale(0.98);
                box-shadow: none;
            }
        }
    
        }
}